@use 'variables';
// @include variables.displayFlex(center, center);

body{
        width: 100vw;
        height: 100vh;
        background-image: url(../img/pexels-lucie-liz-3165335.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include variables.displayFlex(center, center);
        overflow: hidden;
}
.color_fondo{
        background-color: rgba(0, 0, 0, 0.654);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
}
.inicio{
        z-index: 100;
        .text_titulo{
                color: white;
        }
}